.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 40px auto;
  border: 3px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #000;
  font-weight: 700;
  height: 100px;
}

.item1 {
  background: #ff7f50; 
  flex: 1 1 50%;
  order: 1;
}

.item2 {
  background: #87cefa; 
  flex: 1 1 33%;
  order: 4;
}

.item3 {
  background: #8a2be2; 
  flex: 1 1 33%;
  order: 3;
}

.item4 {
  background: #228b22; 
  flex: 1 1 33%;
  order: 5;
}

.item5 {
  background: #ffa500; 
  flex: 1 1 50%;
  order: 2;
}
