.holder {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  border: solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  list-style: none;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #000;
  font-weight: 700;
  height: 100px;
}

.item:nth-child(1) {
  background: #ff7f50;

  flex-basis: 50%;
  order: 1;
  flex-grow: 2;
}

.item:nth-child(2) {
  background: #87cefa;

  order: 4;
  flex-grow: 1;
}

.item:nth-child(3) {
  background: #8a2be2;

  order: 3;
  flex-grow: 1;
}

.item:nth-child(4) {
  background: #228b22;

  order: 5;
  flex-grow: 1;
}

.item:nth-child(5) {
  flex-basis: 50%;
  order: 2;
  flex-grow: 2;
}
